// features 1
.feature-item {
  width: 200px;
  padding: 16px 24px;
  display: flex;
}
.feature-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.feature-icon {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  fill: #ffd333;
}
.feature-icon svg {
  display: block;
}
.feature-content {
  padding-top: 2px;
}
.feature-title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.feature-subtitle {
  font-size: 14px;
}
