/*Border*/
.border {
	border: 1px solid #eaecec !important;
}
.border-top {
	border-top: 1px solid #eaecec !important;
}
.border-bottom {
	border-bottom: 1px solid #eaecec !important;
}
.border-left {
	border-left: 1px solid #eaecec !important;
}
.border-right {
	border-right: 1px solid #eaecec !important;
}
.border-2 {
	border-width: 2px !important;
}
.border-3 {
	border-width: 3px !important;
}
.border-4 {
	border-width: 4px !important;
}
.border-5 {
	border-width: 5px !important;
}
.border-0 {
	border: 0 !important;
}
.border-top-0 {
	border-top: 0 !important;
}
.border-bottom-0 {
	border-bottom: 0 !important;
}
.border-left-0 {
	border-left: 0 !important;
}
.border-right-0 {
	border-right: 0 !important;
}
.rounded {
	border-radius: 4px !important;
}
.rounded-top {
	border-top-left-radius: 0.25rem !important;
	border-top-right-radius: 0.25rem !important;
}
.rounded-top-left {
	border-top-left-radius: 0.25rem !important;
}
.rounded-top-right {
	border-top-right-radius: 0.25rem !important;
}
.rounded-left {
	border-top-left-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important;
}
.rounded-right {
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
}
.rounded-bottom {
	border-bottom-left-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
}
.rounded-bottom-left {
	border-bottom-left-radius: 0.25rem !important;
}
.rounded-bottom-right {
	border-bottom-right-radius: 0.25rem !important;
}
.rounded-top-0 {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.rounded-top-left-0 {
	border-top-left-radius: 0 !important;
}
.rounded-top-right-0 {
	border-top-right-radius: 0 !important;
}
.rounded-left-0 {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.rounded-right-0 {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.rounded-bottom-0 {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.rounded-bottom-left-0 {
	border-bottom-left-radius: 0 !important;
}
.rounded-bottom-right-0 {
	border-bottom-right-radius: 0 !important;
}
.rounded-0 {
	border-radius: 0px !important;
}
.rounded-1 {
	border-radius: 1px !important;
}
.rounded-2 {
	border-radius: 2px !important;
}
.rounded-3 {
	border-radius: 3px !important;
}
.rounded-4 {
	border-radius: 4px !important;
}
.rounded-5 {
	border-radius: 5px !important;
}
.rounded-6 {
	border-radius: 6px !important;
}
.rounded-7 {
	border-radius: 7px !important;
}
.rounded-8 {
	border-radius: 8px !important;
}
.rounded-9 {
	border-radius: 9px !important;
}
.rounded-10 {
	border-radius: 10px !important;
}
.rounded-15 {
	border-radius: 15px !important;
}
.rounded-20 {
	border-radius: 20px !important;
}
.rounded-25 {
	border-radius: 25px !important;
}
.rounded-30 {
	border-radius: 30px !important;
}
.rounded-35 {
	border-radius: 35px !important;
}
.rounded-40 {
	border-radius: 40px !important;
}
.rounded-45 {
	border-radius: 45px !important;
}
.rounded-50 {
	border-radius: 50px !important;
}
.circle {
	border-radius: 50% !important;
}
.square {
	border-radius: 0 !important;
}