/*Letter Spacing*/
.letter-spacing-5 {
	letter-spacing: 0.5px !important;
}
.letter-spacing-10 {
	letter-spacing: 1px !important;
}
.letter-spacing-15 {
	letter-spacing: 1.5px !important;
}
.letter-spacing-20 {
	letter-spacing: 2px !important;
}
.letter-spacing-25 {
	letter-spacing: 2.5px !important;
}
.letter-spacing-30 {
	letter-spacing: 3px !important;
}
.letter-spacing-35 {
	letter-spacing: 3.5px !important;
}
.letter-spacing-40 {
	letter-spacing: 4px !important;
}
.letter-spacing-45 {
	letter-spacing: 4.5px !important;
}
.letter-spacing-50 {
	letter-spacing: 5px !important;
}
