/*Margin*/
.ma-0 {
  margin: 0px !important;
}
.ma-8 {
  margin: 8px !important;
}
.ma-16 {
  margin: 16px !important;
}
.ma-24 {
  margin: 24px !important;
}
.ma-32 {
  margin: 32px !important;
}
.ma-40 {
  margin: 40px !important;
}
.ma-48 {
  margin: 48px !important;
}
.ma-56 {
  margin: 56px !important;
}
.ma-120 {
  margin: 120px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-48 {
  margin-top: 48px !important;
}
.mt-56 {
  margin-top: 56px !important;
}
.mt-120 {
  margin-top: 120px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-38 {
  margin-bottom: 48px !important;
}
.mb-56 {
  margin-bottom: 56px !important;
}
.mb-120 {
  margin-bottom: 120px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.ml-8 {
  margin-left: 8px !important;
}
.ml-16 {
  margin-left: 16px !important;
}
.ml-24 {
  margin-left: 24px !important;
}
.ml-32 {
  margin-left: 32px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-48 {
  margin-left: 48px !important;
}
.ml-56 {
  margin-left: 56px !important;
}
.ml-120 {
  margin-left: 120px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mr-24 {
  margin-right: 24px !important;
}
.mr-32 {
  margin-right: 32px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-48 {
  margin-right: 48px !important;
}
.mr-56 {
  margin-right: 56px !important;
}
.mr-120 {
  margin-right: 120px !important;
}
.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mx-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mx-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mx-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mx-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mx-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mx-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mx-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.mx-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.mx-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.mx-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.mx-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}
.mx-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.mx-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}
.mx-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}
.mx-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}
.mx-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.mx-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}
.mx-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}
.mx-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}
.mx-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}
.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.my-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.my-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.my-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.my-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}
.my-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.my-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}
.my-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.my-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}
.my-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.my-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}
.my-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}
.my-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}
.my-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
// @media (min-width: 576px) {
// 	.ma-sm-0 {
// 		margin: 0px !important;
// 	}
// 	.ma-sm-5 {
// 		margin: 5px !important;
// 	}
// 	.ma-sm-10 {
// 		margin: 10px !important;
// 	}
// 	.ma-sm-15 {
// 		margin: 15px !important;
// 	}
// 	.ma-sm-20 {
// 		margin: 20px !important;
// 	}
// 	.ma-sm-25 {
// 		margin: 25px !important;
// 	}
// 	.ma-sm-30 {
// 		margin: 30px !important;
// 	}
// 	.ma-sm-35 {
// 		margin: 35px !important;
// 	}
// 	.ma-sm-40 {
// 		margin: 40px !important;
// 	}
// 	.ma-sm-45 {
// 		margin: 45px !important;
// 	}
// 	.ma-sm-50 {
// 		margin: 50px !important;
// 	}
// 	.ma-sm-55 {
// 		margin: 55px !important;
// 	}
// 	.ma-sm-60 {
// 		margin: 60px !important;
// 	}
// 	.ma-sm-65 {
// 		margin: 65px !important;
// 	}
// 	.ma-sm-70 {
// 		margin: 70px !important;
// 	}
// 	.ma-sm-75 {
// 		margin: 75px !important;
// 	}
// 	.ma-sm-80 {
// 		margin: 80px !important;
// 	}
// 	.ma-sm-85 {
// 		margin: 85px !important;
// 	}
// 	.ma-sm-90 {
// 		margin: 90px !important;
// 	}
// 	.ma-sm-95 {
// 		margin: 95px !important;
// 	}
// 	.ma-sm-100 {
// 		margin: 100px !important;
// 	}
// 	.mt-sm-0 {
// 		margin-top: 0px !important;
// 	}
// 	.mt-sm-5 {
// 		margin-top: 5px !important;
// 	}
// 	.mt-sm-10 {
// 		margin-top: 10px !important;
// 	}
// 	.mt-sm-15 {
// 		margin-top: 15px !important;
// 	}
// 	.mt-sm-20 {
// 		margin-top: 20px !important;
// 	}
// 	.mt-sm-25 {
// 		margin-top: 25px !important;
// 	}
// 	.mt-sm-30 {
// 		margin-top: 30px !important;
// 	}
// 	.mt-sm-35 {
// 		margin-top: 35px !important;
// 	}
// 	.mt-sm-40 {
// 		margin-top: 40px !important;
// 	}
// 	.mt-sm-45 {
// 		margin-top: 45px !important;
// 	}
// 	.mt-sm-50 {
// 		margin-top: 50px !important;
// 	}
// 	.mt-sm-55 {
// 		margin-top: 55px !important;
// 	}
// 	.mt-sm-60 {
// 		margin-top: 60px !important;
// 	}
// 	.mt-sm-65 {
// 		margin-top: 65px !important;
// 	}
// 	.mt-sm-70 {
// 		margin-top: 70px !important;
// 	}
// 	.mt-sm-75 {
// 		margin-top: 75px !important;
// 	}
// 	.mt-sm-80 {
// 		margin-top: 80px !important;
// 	}
// 	.mt-sm-85 {
// 		margin-top: 85px !important;
// 	}
// 	.mt-sm-90 {
// 		margin-top: 90px !important;
// 	}
// 	.mt-sm-95 {
// 		margin-top: 95px !important;
// 	}
// 	.mt-sm-100 {
// 		margin-top: 100px !important;
// 	}
// 	.mb-sm-0 {
// 		margin-bottom: 0px !important;
// 	}
// 	.mb-sm-5 {
// 		margin-bottom: 5px !important;
// 	}
// 	.mb-sm-10 {
// 		margin-bottom: 10px !important;
// 	}
// 	.mb-sm-15 {
// 		margin-bottom: 15px !important;
// 	}
// 	.mb-sm-20 {
// 		margin-bottom: 20px !important;
// 	}
// 	.mb-sm-25 {
// 		margin-bottom: 25px !important;
// 	}
// 	.mb-sm-30 {
// 		margin-bottom: 30px !important;
// 	}
// 	.mb-sm-35 {
// 		margin-bottom: 35px !important;
// 	}
// 	.mb-sm-40 {
// 		margin-bottom: 40px !important;
// 	}
// 	.mb-sm-45 {
// 		margin-bottom: 45px !important;
// 	}
// 	.mb-sm-50 {
// 		margin-bottom: 50px !important;
// 	}
// 	.mb-sm-55 {
// 		margin-bottom: 55px !important;
// 	}
// 	.mb-sm-60 {
// 		margin-bottom: 60px !important;
// 	}
// 	.mb-sm-65 {
// 		margin-bottom: 65px !important;
// 	}
// 	.mb-sm-70 {
// 		margin-bottom: 70px !important;
// 	}
// 	.mb-sm-75 {
// 		margin-bottom: 75px !important;
// 	}
// 	.mb-sm-80 {
// 		margin-bottom: 80px !important;
// 	}
// 	.mb-sm-85 {
// 		margin-bottom: 85px !important;
// 	}
// 	.mb-sm-90 {
// 		margin-bottom: 90px !important;
// 	}
// 	.mb-sm-95 {
// 		margin-bottom: 95px !important;
// 	}
// 	.mb-sm-100 {
// 		margin-bottom: 100px !important;
// 	}
// 	.ml-sm-0 {
// 		margin-left: 0px !important;
// 	}
// 	.ml-sm-5 {
// 		margin-left: 5px !important;
// 	}
// 	.ml-sm-10 {
// 		margin-left: 10px !important;
// 	}
// 	.ml-sm-15 {
// 		margin-left: 15px !important;
// 	}
// 	.ml-sm-20 {
// 		margin-left: 20px !important;
// 	}
// 	.ml-sm-25 {
// 		margin-left: 25px !important;
// 	}
// 	.ml-sm-30 {
// 		margin-left: 30px !important;
// 	}
// 	.ml-sm-35 {
// 		margin-left: 35px !important;
// 	}
// 	.ml-sm-40 {
// 		margin-left: 40px !important;
// 	}
// 	.ml-sm-45 {
// 		margin-left: 45px !important;
// 	}
// 	.ml-sm-50 {
// 		margin-left: 50px !important;
// 	}
// 	.ml-sm-55 {
// 		margin-left: 55px !important;
// 	}
// 	.ml-sm-60 {
// 		margin-left: 60px !important;
// 	}
// 	.ml-sm-65 {
// 		margin-left: 65px !important;
// 	}
// 	.ml-sm-70 {
// 		margin-left: 70px !important;
// 	}
// 	.ml-sm-75 {
// 		margin-left: 75px !important;
// 	}
// 	.ml-sm-80 {
// 		margin-left: 80px !important;
// 	}
// 	.ml-sm-85 {
// 		margin-left: 85px !important;
// 	}
// 	.ml-sm-90 {
// 		margin-left: 90px !important;
// 	}
// 	.ml-sm-95 {
// 		margin-left: 95px !important;
// 	}
// 	.ml-sm-100 {
// 		margin-left: 100px !important;
// 	}
// 	.mr-sm-0 {
// 		margin-right: 0px !important;
// 	}
// 	.mr-sm-5 {
// 		margin-right: 5px !important;
// 	}
// 	.mr-sm-10 {
// 		margin-right: 10px !important;
// 	}
// 	.mr-sm-15 {
// 		margin-right: 15px !important;
// 	}
// 	.mr-sm-20 {
// 		margin-right: 20px !important;
// 	}
// 	.mr-sm-25 {
// 		margin-right: 25px !important;
// 	}
// 	.mr-sm-30 {
// 		margin-right: 30px !important;
// 	}
// 	.mr-sm-35 {
// 		margin-right: 35px !important;
// 	}
// 	.mr-sm-40 {
// 		margin-right: 40px !important;
// 	}
// 	.mr-sm-45 {
// 		margin-right: 45px !important;
// 	}
// 	.mr-sm-50 {
// 		margin-right: 50px !important;
// 	}
// 	.mr-sm-55 {
// 		margin-right: 55px !important;
// 	}
// 	.mr-sm-60 {
// 		margin-right: 60px !important;
// 	}
// 	.mr-sm-65 {
// 		margin-right: 65px !important;
// 	}
// 	.mr-sm-70 {
// 		margin-right: 70px !important;
// 	}
// 	.mr-sm-75 {
// 		margin-right: 75px !important;
// 	}
// 	.mr-sm-80 {
// 		margin-right: 80px !important;
// 	}
// 	.mr-sm-85 {
// 		margin-right: 85px !important;
// 	}
// 	.mr-sm-90 {
// 		margin-right: 90px !important;
// 	}
// 	.mr-sm-95 {
// 		margin-right: 95px !important;
// 	}
// 	.mr-sm-100 {
// 		margin-right: 100px !important;
// 	}
// 	.mx-sm-0 {
// 		margin-left: 0px !important;
// 		margin-right: 0px !important;
// 	}
// 	.mx-sm-5 {
// 		margin-left: 5px !important;
// 		margin-right: 5px !important;
// 	}
// 	.mx-sm-10 {
// 		margin-left: 10px !important;
// 		margin-right: 10px !important;
// 	}
// 	.mx-sm-15 {
// 		margin-left: 15px !important;
// 		margin-right: 15px !important;
// 	}
// 	.mx-sm-20 {
// 		margin-left: 20px !important;
// 		margin-right: 20px !important;
// 	}
// 	.mx-sm-25 {
// 		margin-left: 25px !important;
// 		margin-right: 25px !important;
// 	}
// 	.mx-sm-30 {
// 		margin-left: 30px !important;
// 		margin-right: 30px !important;
// 	}
// 	.mx-sm-35 {
// 		margin-left: 35px !important;
// 		margin-right: 35px !important;
// 	}
// 	.mx-sm-40 {
// 		margin-left: 40px !important;
// 		margin-right: 40px !important;
// 	}
// 	.mx-sm-45 {
// 		margin-left: 45px !important;
// 		margin-right: 45px !important;
// 	}
// 	.mx-sm-50 {
// 		margin-left: 50px !important;
// 		margin-right: 50px !important;
// 	}
// 	.mx-sm-55 {
// 		margin-left: 55px !important;
// 		margin-right: 55px !important;
// 	}
// 	.mx-sm-60 {
// 		margin-left: 60px !important;
// 		margin-right: 60px !important;
// 	}
// 	.mx-sm-65 {
// 		margin-left: 65px !important;
// 		margin-right: 65px !important;
// 	}
// 	.mx-sm-70 {
// 		margin-left: 70px !important;
// 		margin-right: 70px !important;
// 	}
// 	.mx-sm-75 {
// 		margin-left: 75px !important;
// 		margin-right: 75px !important;
// 	}
// 	.mx-sm-80 {
// 		margin-left: 80px !important;
// 		margin-right: 80px !important;
// 	}
// 	.mx-sm-85 {
// 		margin-left: 85px !important;
// 		margin-right: 85px !important;
// 	}
// 	.mx-sm-90 {
// 		margin-left: 90px !important;
// 		margin-right: 90px !important;
// 	}
// 	.mx-sm-95 {
// 		margin-left: 95px !important;
// 		margin-right: 95px !important;
// 	}
// 	.mx-sm-100 {
// 		margin-left: 100px !important;
// 		margin-right: 100px !important;
// 	}
// 	.my-sm-0 {
// 		margin-top: 0px !important;
// 		margin-bottom: 0px !important;
// 	}
// 	.my-sm-5 {
// 		margin-top: 5px !important;
// 		margin-bottom: 5px !important;
// 	}
// 	.my-sm-10 {
// 		margin-top: 10px !important;
// 		margin-bottom: 10px !important;
// 	}
// 	.my-sm-15 {
// 		margin-top: 15px !important;
// 		margin-bottom: 15px !important;
// 	}
// 	.my-sm-20 {
// 		margin-top: 20px !important;
// 		margin-bottom: 20px !important;
// 	}
// 	.my-sm-25 {
// 		margin-top: 25px !important;
// 		margin-bottom: 25px !important;
// 	}
// 	.my-sm-30 {
// 		margin-top: 30px !important;
// 		margin-bottom: 30px !important;
// 	}
// 	.my-sm-35 {
// 		margin-top: 35px !important;
// 		margin-bottom: 35px !important;
// 	}
// 	.my-sm-40 {
// 		margin-top: 40px !important;
// 		margin-bottom: 40px !important;
// 	}
// 	.my-sm-45 {
// 		margin-top: 45px !important;
// 		margin-bottom: 45px !important;
// 	}
// 	.my-sm-50 {
// 		margin-top: 50px !important;
// 		margin-bottom: 50px !important;
// 	}
// 	.my-sm-55 {
// 		margin-top: 55px !important;
// 		margin-bottom: 55px !important;
// 	}
// 	.my-sm-60 {
// 		margin-top: 60px !important;
// 		margin-bottom: 60px !important;
// 	}
// 	.my-sm-65 {
// 		margin-top: 65px !important;
// 		margin-bottom: 65px !important;
// 	}
// 	.my-sm-70 {
// 		margin-top: 70px !important;
// 		margin-bottom: 70px !important;
// 	}
// 	.my-sm-75 {
// 		margin-top: 75px !important;
// 		margin-bottom: 75px !important;
// 	}
// 	.my-sm-80 {
// 		margin-top: 80px !important;
// 		margin-bottom: 80px !important;
// 	}
// 	.my-sm-85 {
// 		margin-top: 85px !important;
// 		margin-bottom: 85px !important;
// 	}
// 	.my-sm-90 {
// 		margin-top: 90px !important;
// 		margin-bottom: 90px !important;
// 	}
// 	.my-sm-95 {
// 		margin-top: 95px !important;
// 		margin-bottom: 95px !important;
// 	}
// 	.my-sm-100 {
// 		margin-top: 100px !important;
// 		margin-bottom: 100px !important;
// 	}
// }
// @media (min-width: 768px) {
// 	.ma-md-0 {
// 		margin: 0px !important;
// 	}
// 	.ma-md-5 {
// 		margin: 5px !important;
// 	}
// 	.ma-md-10 {
// 		margin: 10px !important;
// 	}
// 	.ma-md-15 {
// 		margin: 15px !important;
// 	}
// 	.ma-md-20 {
// 		margin: 20px !important;
// 	}
// 	.ma-md-25 {
// 		margin: 25px !important;
// 	}
// 	.ma-md-30 {
// 		margin: 30px !important;
// 	}
// 	.ma-md-35 {
// 		margin: 35px !important;
// 	}
// 	.ma-md-40 {
// 		margin: 40px !important;
// 	}
// 	.ma-md-45 {
// 		margin: 45px !important;
// 	}
// 	.ma-md-50 {
// 		margin: 50px !important;
// 	}
// 	.ma-md-55 {
// 		margin: 55px !important;
// 	}
// 	.ma-md-60 {
// 		margin: 60px !important;
// 	}
// 	.ma-md-65 {
// 		margin: 65px !important;
// 	}
// 	.ma-md-70 {
// 		margin: 70px !important;
// 	}
// 	.ma-md-75 {
// 		margin: 75px !important;
// 	}
// 	.ma-md-80 {
// 		margin: 80px !important;
// 	}
// 	.ma-md-85 {
// 		margin: 85px !important;
// 	}
// 	.ma-md-90 {
// 		margin: 90px !important;
// 	}
// 	.ma-md-95 {
// 		margin: 95px !important;
// 	}
// 	.ma-md-100 {
// 		margin: 100px !important;
// 	}
// 	.mt-md-0 {
// 		margin-top: 0px !important;
// 	}
// 	.mt-md-5 {
// 		margin-top: 5px !important;
// 	}
// 	.mt-md-10 {
// 		margin-top: 10px !important;
// 	}
// 	.mt-md-15 {
// 		margin-top: 15px !important;
// 	}
// 	.mt-md-20 {
// 		margin-top: 20px !important;
// 	}
// 	.mt-md-25 {
// 		margin-top: 25px !important;
// 	}
// 	.mt-md-30 {
// 		margin-top: 30px !important;
// 	}
// 	.mt-md-35 {
// 		margin-top: 35px !important;
// 	}
// 	.mt-md-40 {
// 		margin-top: 40px !important;
// 	}
// 	.mt-md-45 {
// 		margin-top: 45px !important;
// 	}
// 	.mt-md-50 {
// 		margin-top: 50px !important;
// 	}
// 	.mt-md-55 {
// 		margin-top: 55px !important;
// 	}
// 	.mt-md-60 {
// 		margin-top: 60px !important;
// 	}
// 	.mt-md-65 {
// 		margin-top: 65px !important;
// 	}
// 	.mt-md-70 {
// 		margin-top: 70px !important;
// 	}
// 	.mt-md-75 {
// 		margin-top: 75px !important;
// 	}
// 	.mt-md-80 {
// 		margin-top: 80px !important;
// 	}
// 	.mt-md-85 {
// 		margin-top: 85px !important;
// 	}
// 	.mt-md-90 {
// 		margin-top: 90px !important;
// 	}
// 	.mt-md-95 {
// 		margin-top: 95px !important;
// 	}
// 	.mt-md-100 {
// 		margin-top: 100px !important;
// 	}
// 	.mb-md-0 {
// 		margin-bottom: 0px !important;
// 	}
// 	.mb-md-5 {
// 		margin-bottom: 5px !important;
// 	}
// 	.mb-md-10 {
// 		margin-bottom: 10px !important;
// 	}
// 	.mb-md-15 {
// 		margin-bottom: 15px !important;
// 	}
// 	.mb-md-20 {
// 		margin-bottom: 20px !important;
// 	}
// 	.mb-md-25 {
// 		margin-bottom: 25px !important;
// 	}
// 	.mb-md-30 {
// 		margin-bottom: 30px !important;
// 	}
// 	.mb-md-35 {
// 		margin-bottom: 35px !important;
// 	}
// 	.mb-md-40 {
// 		margin-bottom: 40px !important;
// 	}
// 	.mb-md-45 {
// 		margin-bottom: 45px !important;
// 	}
// 	.mb-md-50 {
// 		margin-bottom: 50px !important;
// 	}
// 	.mb-md-55 {
// 		margin-bottom: 55px !important;
// 	}
// 	.mb-md-60 {
// 		margin-bottom: 60px !important;
// 	}
// 	.mb-md-65 {
// 		margin-bottom: 65px !important;
// 	}
// 	.mb-md-70 {
// 		margin-bottom: 70px !important;
// 	}
// 	.mb-md-75 {
// 		margin-bottom: 75px !important;
// 	}
// 	.mb-md-80 {
// 		margin-bottom: 80px !important;
// 	}
// 	.mb-md-85 {
// 		margin-bottom: 85px !important;
// 	}
// 	.mb-md-90 {
// 		margin-bottom: 90px !important;
// 	}
// 	.mb-md-95 {
// 		margin-bottom: 95px !important;
// 	}
// 	.mb-md-100 {
// 		margin-bottom: 100px !important;
// 	}
// 	.ml-md-0 {
// 		margin-left: 0px !important;
// 	}
// 	.ml-md-5 {
// 		margin-left: 5px !important;
// 	}
// 	.ml-md-10 {
// 		margin-left: 10px !important;
// 	}
// 	.ml-md-15 {
// 		margin-left: 15px !important;
// 	}
// 	.ml-md-20 {
// 		margin-left: 20px !important;
// 	}
// 	.ml-md-25 {
// 		margin-left: 25px !important;
// 	}
// 	.ml-md-30 {
// 		margin-left: 30px !important;
// 	}
// 	.ml-md-35 {
// 		margin-left: 35px !important;
// 	}
// 	.ml-md-40 {
// 		margin-left: 40px !important;
// 	}
// 	.ml-md-45 {
// 		margin-left: 45px !important;
// 	}
// 	.ml-md-50 {
// 		margin-left: 50px !important;
// 	}
// 	.ml-md-55 {
// 		margin-left: 55px !important;
// 	}
// 	.ml-md-60 {
// 		margin-left: 60px !important;
// 	}
// 	.ml-md-65 {
// 		margin-left: 65px !important;
// 	}
// 	.ml-md-70 {
// 		margin-left: 70px !important;
// 	}
// 	.ml-md-75 {
// 		margin-left: 75px !important;
// 	}
// 	.ml-md-80 {
// 		margin-left: 80px !important;
// 	}
// 	.ml-md-85 {
// 		margin-left: 85px !important;
// 	}
// 	.ml-md-90 {
// 		margin-left: 90px !important;
// 	}
// 	.ml-md-95 {
// 		margin-left: 95px !important;
// 	}
// 	.ml-md-100 {
// 		margin-left: 100px !important;
// 	}
// 	.mr-md-0 {
// 		margin-right: 0px !important;
// 	}
// 	.mr-md-5 {
// 		margin-right: 5px !important;
// 	}
// 	.mr-md-10 {
// 		margin-right: 10px !important;
// 	}
// 	.mr-md-15 {
// 		margin-right: 15px !important;
// 	}
// 	.mr-md-20 {
// 		margin-right: 20px !important;
// 	}
// 	.mr-md-25 {
// 		margin-right: 25px !important;
// 	}
// 	.mr-md-30 {
// 		margin-right: 30px !important;
// 	}
// 	.mr-md-35 {
// 		margin-right: 35px !important;
// 	}
// 	.mr-md-40 {
// 		margin-right: 40px !important;
// 	}
// 	.mr-md-45 {
// 		margin-right: 45px !important;
// 	}
// 	.mr-md-50 {
// 		margin-right: 50px !important;
// 	}
// 	.mr-md-55 {
// 		margin-right: 55px !important;
// 	}
// 	.mr-md-60 {
// 		margin-right: 60px !important;
// 	}
// 	.mr-md-65 {
// 		margin-right: 65px !important;
// 	}
// 	.mr-md-70 {
// 		margin-right: 70px !important;
// 	}
// 	.mr-md-75 {
// 		margin-right: 75px !important;
// 	}
// 	.mr-md-80 {
// 		margin-right: 80px !important;
// 	}
// 	.mr-md-85 {
// 		margin-right: 85px !important;
// 	}
// 	.mr-md-90 {
// 		margin-right: 90px !important;
// 	}
// 	.mr-md-95 {
// 		margin-right: 95px !important;
// 	}
// 	.mr-md-100 {
// 		margin-right: 100px !important;
// 	}
// 	.mx-md-0 {
// 		margin-left: 0px !important;
// 		margin-right: 0px !important;
// 	}
// 	.mx-md-5 {
// 		margin-left: 5px !important;
// 		margin-right: 5px !important;
// 	}
// 	.mx-md-10 {
// 		margin-left: 10px !important;
// 		margin-right: 10px !important;
// 	}
// 	.mx-md-15 {
// 		margin-left: 15px !important;
// 		margin-right: 15px !important;
// 	}
// 	.mx-md-20 {
// 		margin-left: 20px !important;
// 		margin-right: 20px !important;
// 	}
// 	.mx-md-25 {
// 		margin-left: 25px !important;
// 		margin-right: 25px !important;
// 	}
// 	.mx-md-30 {
// 		margin-left: 30px !important;
// 		margin-right: 30px !important;
// 	}
// 	.mx-md-35 {
// 		margin-left: 35px !important;
// 		margin-right: 35px !important;
// 	}
// 	.mx-md-40 {
// 		margin-left: 40px !important;
// 		margin-right: 40px !important;
// 	}
// 	.mx-md-45 {
// 		margin-left: 45px !important;
// 		margin-right: 45px !important;
// 	}
// 	.mx-md-50 {
// 		margin-left: 50px !important;
// 		margin-right: 50px !important;
// 	}
// 	.mx-md-55 {
// 		margin-left: 55px !important;
// 		margin-right: 55px !important;
// 	}
// 	.mx-md-60 {
// 		margin-left: 60px !important;
// 		margin-right: 60px !important;
// 	}
// 	.mx-md-65 {
// 		margin-left: 65px !important;
// 		margin-right: 65px !important;
// 	}
// 	.mx-md-70 {
// 		margin-left: 70px !important;
// 		margin-right: 70px !important;
// 	}
// 	.mx-md-75 {
// 		margin-left: 75px !important;
// 		margin-right: 75px !important;
// 	}
// 	.mx-md-80 {
// 		margin-left: 80px !important;
// 		margin-right: 80px !important;
// 	}
// 	.mx-md-85 {
// 		margin-left: 85px !important;
// 		margin-right: 85px !important;
// 	}
// 	.mx-md-90 {
// 		margin-left: 90px !important;
// 		margin-right: 90px !important;
// 	}
// 	.mx-md-95 {
// 		margin-left: 95px !important;
// 		margin-right: 95px !important;
// 	}
// 	.mx-md-100 {
// 		margin-left: 100px !important;
// 		margin-right: 100px !important;
// 	}
// 	.my-md-0 {
// 		margin-top: 0px !important;
// 		margin-bottom: 0px !important;
// 	}
// 	.my-md-5 {
// 		margin-top: 5px !important;
// 		margin-bottom: 5px !important;
// 	}
// 	.my-md-10 {
// 		margin-top: 10px !important;
// 		margin-bottom: 10px !important;
// 	}
// 	.my-md-15 {
// 		margin-top: 15px !important;
// 		margin-bottom: 15px !important;
// 	}
// 	.my-md-20 {
// 		margin-top: 20px !important;
// 		margin-bottom: 20px !important;
// 	}
// 	.my-md-25 {
// 		margin-top: 25px !important;
// 		margin-bottom: 25px !important;
// 	}
// 	.my-md-30 {
// 		margin-top: 30px !important;
// 		margin-bottom: 30px !important;
// 	}
// 	.my-md-35 {
// 		margin-top: 35px !important;
// 		margin-bottom: 35px !important;
// 	}
// 	.my-md-40 {
// 		margin-top: 40px !important;
// 		margin-bottom: 40px !important;
// 	}
// 	.my-md-45 {
// 		margin-top: 45px !important;
// 		margin-bottom: 45px !important;
// 	}
// 	.my-md-50 {
// 		margin-top: 50px !important;
// 		margin-bottom: 50px !important;
// 	}
// 	.my-md-55 {
// 		margin-top: 55px !important;
// 		margin-bottom: 55px !important;
// 	}
// 	.my-md-60 {
// 		margin-top: 60px !important;
// 		margin-bottom: 60px !important;
// 	}
// 	.my-md-65 {
// 		margin-top: 65px !important;
// 		margin-bottom: 65px !important;
// 	}
// 	.my-md-70 {
// 		margin-top: 70px !important;
// 		margin-bottom: 70px !important;
// 	}
// 	.my-md-75 {
// 		margin-top: 75px !important;
// 		margin-bottom: 75px !important;
// 	}
// 	.my-md-80 {
// 		margin-top: 80px !important;
// 		margin-bottom: 80px !important;
// 	}
// 	.my-md-85 {
// 		margin-top: 85px !important;
// 		margin-bottom: 85px !important;
// 	}
// 	.my-md-90 {
// 		margin-top: 90px !important;
// 		margin-bottom: 90px !important;
// 	}
// 	.my-md-95 {
// 		margin-top: 95px !important;
// 		margin-bottom: 95px !important;
// 	}
// 	.my-md-100 {
// 		margin-top: 100px !important;
// 		margin-bottom: 100px !important;
// 	}
// }
// @media (min-width: 992px) {
// 	.ma-lg-0 {
// 		margin: 0px !important;
// 	}
// 	.ma-lg-5 {
// 		margin: 5px !important;
// 	}
// 	.ma-lg-10 {
// 		margin: 10px !important;
// 	}
// 	.ma-lg-15 {
// 		margin: 15px !important;
// 	}
// 	.ma-lg-20 {
// 		margin: 20px !important;
// 	}
// 	.ma-lg-25 {
// 		margin: 25px !important;
// 	}
// 	.ma-lg-30 {
// 		margin: 30px !important;
// 	}
// 	.ma-lg-35 {
// 		margin: 35px !important;
// 	}
// 	.ma-lg-40 {
// 		margin: 40px !important;
// 	}
// 	.ma-lg-45 {
// 		margin: 45px !important;
// 	}
// 	.ma-lg-50 {
// 		margin: 50px !important;
// 	}
// 	.ma-lg-55 {
// 		margin: 55px !important;
// 	}
// 	.ma-lg-60 {
// 		margin: 60px !important;
// 	}
// 	.ma-lg-65 {
// 		margin: 65px !important;
// 	}
// 	.ma-lg-70 {
// 		margin: 70px !important;
// 	}
// 	.ma-lg-75 {
// 		margin: 75px !important;
// 	}
// 	.ma-lg-80 {
// 		margin: 80px !important;
// 	}
// 	.ma-lg-85 {
// 		margin: 85px !important;
// 	}
// 	.ma-lg-90 {
// 		margin: 90px !important;
// 	}
// 	.ma-lg-95 {
// 		margin: 95px !important;
// 	}
// 	.ma-lg-100 {
// 		margin: 100px !important;
// 	}
// 	.mt-lg-0 {
// 		margin-top: 0px !important;
// 	}
// 	.mt-lg-5 {
// 		margin-top: 5px !important;
// 	}
// 	.mt-lg-10 {
// 		margin-top: 10px !important;
// 	}
// 	.mt-lg-15 {
// 		margin-top: 15px !important;
// 	}
// 	.mt-lg-20 {
// 		margin-top: 20px !important;
// 	}
// 	.mt-lg-25 {
// 		margin-top: 25px !important;
// 	}
// 	.mt-lg-30 {
// 		margin-top: 30px !important;
// 	}
// 	.mt-lg-35 {
// 		margin-top: 35px !important;
// 	}
// 	.mt-lg-40 {
// 		margin-top: 40px !important;
// 	}
// 	.mt-lg-45 {
// 		margin-top: 45px !important;
// 	}
// 	.mt-lg-50 {
// 		margin-top: 50px !important;
// 	}
// 	.mt-lg-55 {
// 		margin-top: 55px !important;
// 	}
// 	.mt-lg-60 {
// 		margin-top: 60px !important;
// 	}
// 	.mt-lg-65 {
// 		margin-top: 65px !important;
// 	}
// 	.mt-lg-70 {
// 		margin-top: 70px !important;
// 	}
// 	.mt-lg-75 {
// 		margin-top: 75px !important;
// 	}
// 	.mt-lg-80 {
// 		margin-top: 80px !important;
// 	}
// 	.mt-lg-85 {
// 		margin-top: 85px !important;
// 	}
// 	.mt-lg-90 {
// 		margin-top: 90px !important;
// 	}
// 	.mt-lg-95 {
// 		margin-top: 95px !important;
// 	}
// 	.mt-lg-100 {
// 		margin-top: 100px !important;
// 	}
// 	.mb-lg-0 {
// 		margin-bottom: 0px !important;
// 	}
// 	.mb-lg-5 {
// 		margin-bottom: 5px !important;
// 	}
// 	.mb-lg-10 {
// 		margin-bottom: 10px !important;
// 	}
// 	.mb-lg-15 {
// 		margin-bottom: 15px !important;
// 	}
// 	.mb-lg-20 {
// 		margin-bottom: 20px !important;
// 	}
// 	.mb-lg-25 {
// 		margin-bottom: 25px !important;
// 	}
// 	.mb-lg-30 {
// 		margin-bottom: 30px !important;
// 	}
// 	.mb-lg-35 {
// 		margin-bottom: 35px !important;
// 	}
// 	.mb-lg-40 {
// 		margin-bottom: 40px !important;
// 	}
// 	.mb-lg-45 {
// 		margin-bottom: 45px !important;
// 	}
// 	.mb-lg-50 {
// 		margin-bottom: 50px !important;
// 	}
// 	.mb-lg-55 {
// 		margin-bottom: 55px !important;
// 	}
// 	.mb-lg-60 {
// 		margin-bottom: 60px !important;
// 	}
// 	.mb-lg-65 {
// 		margin-bottom: 65px !important;
// 	}
// 	.mb-lg-70 {
// 		margin-bottom: 70px !important;
// 	}
// 	.mb-lg-75 {
// 		margin-bottom: 75px !important;
// 	}
// 	.mb-lg-80 {
// 		margin-bottom: 80px !important;
// 	}
// 	.mb-lg-85 {
// 		margin-bottom: 85px !important;
// 	}
// 	.mb-lg-90 {
// 		margin-bottom: 90px !important;
// 	}
// 	.mb-lg-95 {
// 		margin-bottom: 95px !important;
// 	}
// 	.mb-lg-100 {
// 		margin-bottom: 100px !important;
// 	}
// 	.ml-lg-0 {
// 		margin-left: 0px !important;
// 	}
// 	.ml-lg-5 {
// 		margin-left: 5px !important;
// 	}
// 	.ml-lg-10 {
// 		margin-left: 10px !important;
// 	}
// 	.ml-lg-15 {
// 		margin-left: 15px !important;
// 	}
// 	.ml-lg-20 {
// 		margin-left: 20px !important;
// 	}
// 	.ml-lg-25 {
// 		margin-left: 25px !important;
// 	}
// 	.ml-lg-30 {
// 		margin-left: 30px !important;
// 	}
// 	.ml-lg-35 {
// 		margin-left: 35px !important;
// 	}
// 	.ml-lg-40 {
// 		margin-left: 40px !important;
// 	}
// 	.ml-lg-45 {
// 		margin-left: 45px !important;
// 	}
// 	.ml-lg-50 {
// 		margin-left: 50px !important;
// 	}
// 	.ml-lg-55 {
// 		margin-left: 55px !important;
// 	}
// 	.ml-lg-60 {
// 		margin-left: 60px !important;
// 	}
// 	.ml-lg-65 {
// 		margin-left: 65px !important;
// 	}
// 	.ml-lg-70 {
// 		margin-left: 70px !important;
// 	}
// 	.ml-lg-75 {
// 		margin-left: 75px !important;
// 	}
// 	.ml-lg-80 {
// 		margin-left: 80px !important;
// 	}
// 	.ml-lg-85 {
// 		margin-left: 85px !important;
// 	}
// 	.ml-lg-90 {
// 		margin-left: 90px !important;
// 	}
// 	.ml-lg-95 {
// 		margin-left: 95px !important;
// 	}
// 	.ml-lg-100 {
// 		margin-left: 100px !important;
// 	}
// 	.mr-lg-0 {
// 		margin-right: 0px !important;
// 	}
// 	.mr-lg-5 {
// 		margin-right: 5px !important;
// 	}
// 	.mr-lg-10 {
// 		margin-right: 10px !important;
// 	}
// 	.mr-lg-15 {
// 		margin-right: 15px !important;
// 	}
// 	.mr-lg-20 {
// 		margin-right: 20px !important;
// 	}
// 	.mr-lg-25 {
// 		margin-right: 25px !important;
// 	}
// 	.mr-lg-30 {
// 		margin-right: 30px !important;
// 	}
// 	.mr-lg-35 {
// 		margin-right: 35px !important;
// 	}
// 	.mr-lg-40 {
// 		margin-right: 40px !important;
// 	}
// 	.mr-lg-45 {
// 		margin-right: 45px !important;
// 	}
// 	.mr-lg-50 {
// 		margin-right: 50px !important;
// 	}
// 	.mr-lg-55 {
// 		margin-right: 55px !important;
// 	}
// 	.mr-lg-60 {
// 		margin-right: 60px !important;
// 	}
// 	.mr-lg-65 {
// 		margin-right: 65px !important;
// 	}
// 	.mr-lg-70 {
// 		margin-right: 70px !important;
// 	}
// 	.mr-lg-75 {
// 		margin-right: 75px !important;
// 	}
// 	.mr-lg-80 {
// 		margin-right: 80px !important;
// 	}
// 	.mr-lg-85 {
// 		margin-right: 85px !important;
// 	}
// 	.mr-lg-90 {
// 		margin-right: 90px !important;
// 	}
// 	.mr-lg-95 {
// 		margin-right: 95px !important;
// 	}
// 	.mr-lg-100 {
// 		margin-right: 100px !important;
// 	}
// 	.mx-lg-0 {
// 		margin-left: 0px !important;
// 		margin-right: 0px !important;
// 	}
// 	.mx-lg-5 {
// 		margin-left: 5px !important;
// 		margin-right: 5px !important;
// 	}
// 	.mx-lg-10 {
// 		margin-left: 10px !important;
// 		margin-right: 10px !important;
// 	}
// 	.mx-lg-15 {
// 		margin-left: 15px !important;
// 		margin-right: 15px !important;
// 	}
// 	.mx-lg-20 {
// 		margin-left: 20px !important;
// 		margin-right: 20px !important;
// 	}
// 	.mx-lg-25 {
// 		margin-left: 25px !important;
// 		margin-right: 25px !important;
// 	}
// 	.mx-lg-30 {
// 		margin-left: 30px !important;
// 		margin-right: 30px !important;
// 	}
// 	.mx-lg-35 {
// 		margin-left: 35px !important;
// 		margin-right: 35px !important;
// 	}
// 	.mx-lg-40 {
// 		margin-left: 40px !important;
// 		margin-right: 40px !important;
// 	}
// 	.mx-lg-45 {
// 		margin-left: 45px !important;
// 		margin-right: 45px !important;
// 	}
// 	.mx-lg-50 {
// 		margin-left: 50px !important;
// 		margin-right: 50px !important;
// 	}
// 	.mx-lg-55 {
// 		margin-left: 55px !important;
// 		margin-right: 55px !important;
// 	}
// 	.mx-lg-60 {
// 		margin-left: 60px !important;
// 		margin-right: 60px !important;
// 	}
// 	.mx-lg-65 {
// 		margin-left: 65px !important;
// 		margin-right: 65px !important;
// 	}
// 	.mx-lg-70 {
// 		margin-left: 70px !important;
// 		margin-right: 70px !important;
// 	}
// 	.mx-lg-75 {
// 		margin-left: 75px !important;
// 		margin-right: 75px !important;
// 	}
// 	.mx-lg-80 {
// 		margin-left: 80px !important;
// 		margin-right: 80px !important;
// 	}
// 	.mx-lg-85 {
// 		margin-left: 85px !important;
// 		margin-right: 85px !important;
// 	}
// 	.mx-lg-90 {
// 		margin-left: 90px !important;
// 		margin-right: 90px !important;
// 	}
// 	.mx-lg-95 {
// 		margin-left: 95px !important;
// 		margin-right: 95px !important;
// 	}
// 	.mx-lg-100 {
// 		margin-left: 100px !important;
// 		margin-right: 100px !important;
// 	}
// 	.my-lg-0 {
// 		margin-top: 0px !important;
// 		margin-bottom: 0px !important;
// 	}
// 	.my-lg-5 {
// 		margin-top: 5px !important;
// 		margin-bottom: 5px !important;
// 	}
// 	.my-lg-10 {
// 		margin-top: 10px !important;
// 		margin-bottom: 10px !important;
// 	}
// 	.my-lg-15 {
// 		margin-top: 15px !important;
// 		margin-bottom: 15px !important;
// 	}
// 	.my-lg-20 {
// 		margin-top: 20px !important;
// 		margin-bottom: 20px !important;
// 	}
// 	.my-lg-25 {
// 		margin-top: 25px !important;
// 		margin-bottom: 25px !important;
// 	}
// 	.my-lg-30 {
// 		margin-top: 30px !important;
// 		margin-bottom: 30px !important;
// 	}
// 	.my-lg-35 {
// 		margin-top: 35px !important;
// 		margin-bottom: 35px !important;
// 	}
// 	.my-lg-40 {
// 		margin-top: 40px !important;
// 		margin-bottom: 40px !important;
// 	}
// 	.my-lg-45 {
// 		margin-top: 45px !important;
// 		margin-bottom: 45px !important;
// 	}
// 	.my-lg-50 {
// 		margin-top: 50px !important;
// 		margin-bottom: 50px !important;
// 	}
// 	.my-lg-55 {
// 		margin-top: 55px !important;
// 		margin-bottom: 55px !important;
// 	}
// 	.my-lg-60 {
// 		margin-top: 60px !important;
// 		margin-bottom: 60px !important;
// 	}
// 	.my-lg-65 {
// 		margin-top: 65px !important;
// 		margin-bottom: 65px !important;
// 	}
// 	.my-lg-70 {
// 		margin-top: 70px !important;
// 		margin-bottom: 70px !important;
// 	}
// 	.my-lg-75 {
// 		margin-top: 75px !important;
// 		margin-bottom: 75px !important;
// 	}
// 	.my-lg-80 {
// 		margin-top: 80px !important;
// 		margin-bottom: 80px !important;
// 	}
// 	.my-lg-85 {
// 		margin-top: 85px !important;
// 		margin-bottom: 85px !important;
// 	}
// 	.my-lg-90 {
// 		margin-top: 90px !important;
// 		margin-bottom: 90px !important;
// 	}
// 	.my-lg-95 {
// 		margin-top: 95px !important;
// 		margin-bottom: 95px !important;
// 	}
// 	.my-lg-100 {
// 		margin-top: 100px !important;
// 		margin-bottom: 100px !important;
// 	}
// }
// @media (min-width: 1200px) {
// 	.ma-xl-0 {
// 		margin: 0px !important;
// 	}
// 	.ma-xl-5 {
// 		margin: 5px !important;
// 	}
// 	.ma-xl-10 {
// 		margin: 10px !important;
// 	}
// 	.ma-xl-15 {
// 		margin: 15px !important;
// 	}
// 	.ma-xl-20 {
// 		margin: 20px !important;
// 	}
// 	.ma-xl-25 {
// 		margin: 25px !important;
// 	}
// 	.ma-xl-30 {
// 		margin: 30px !important;
// 	}
// 	.ma-xl-35 {
// 		margin: 35px !important;
// 	}
// 	.ma-xl-40 {
// 		margin: 40px !important;
// 	}
// 	.ma-xl-45 {
// 		margin: 45px !important;
// 	}
// 	.ma-xl-50 {
// 		margin: 50px !important;
// 	}
// 	.ma-xl-55 {
// 		margin: 55px !important;
// 	}
// 	.ma-xl-60 {
// 		margin: 60px !important;
// 	}
// 	.ma-xl-65 {
// 		margin: 65px !important;
// 	}
// 	.ma-xl-70 {
// 		margin: 70px !important;
// 	}
// 	.ma-xl-75 {
// 		margin: 75px !important;
// 	}
// 	.ma-xl-80 {
// 		margin: 80px !important;
// 	}
// 	.ma-xl-85 {
// 		margin: 85px !important;
// 	}
// 	.ma-xl-90 {
// 		margin: 90px !important;
// 	}
// 	.ma-xl-95 {
// 		margin: 95px !important;
// 	}
// 	.ma-xl-100 {
// 		margin: 100px !important;
// 	}
// 	.mt-xl-0 {
// 		margin-top: 0px !important;
// 	}
// 	.mt-xl-5 {
// 		margin-top: 5px !important;
// 	}
// 	.mt-xl-10 {
// 		margin-top: 10px !important;
// 	}
// 	.mt-xl-15 {
// 		margin-top: 15px !important;
// 	}
// 	.mt-xl-20 {
// 		margin-top: 20px !important;
// 	}
// 	.mt-xl-25 {
// 		margin-top: 25px !important;
// 	}
// 	.mt-xl-30 {
// 		margin-top: 30px !important;
// 	}
// 	.mt-xl-35 {
// 		margin-top: 35px !important;
// 	}
// 	.mt-xl-40 {
// 		margin-top: 40px !important;
// 	}
// 	.mt-xl-45 {
// 		margin-top: 45px !important;
// 	}
// 	.mt-xl-50 {
// 		margin-top: 50px !important;
// 	}
// 	.mt-xl-55 {
// 		margin-top: 55px !important;
// 	}
// 	.mt-xl-60 {
// 		margin-top: 60px !important;
// 	}
// 	.mt-xl-65 {
// 		margin-top: 65px !important;
// 	}
// 	.mt-xl-70 {
// 		margin-top: 70px !important;
// 	}
// 	.mt-xl-75 {
// 		margin-top: 75px !important;
// 	}
// 	.mt-xl-80 {
// 		margin-top: 80px !important;
// 	}
// 	.mt-xl-85 {
// 		margin-top: 85px !important;
// 	}
// 	.mt-xl-90 {
// 		margin-top: 90px !important;
// 	}
// 	.mt-xl-95 {
// 		margin-top: 95px !important;
// 	}
// 	.mt-xl-100 {
// 		margin-top: 100px !important;
// 	}
// 	.mb-xl-0 {
// 		margin-bottom: 0px !important;
// 	}
// 	.mb-xl-5 {
// 		margin-bottom: 5px !important;
// 	}
// 	.mb-xl-10 {
// 		margin-bottom: 10px !important;
// 	}
// 	.mb-xl-15 {
// 		margin-bottom: 15px !important;
// 	}
// 	.mb-xl-20 {
// 		margin-bottom: 20px !important;
// 	}
// 	.mb-xl-25 {
// 		margin-bottom: 25px !important;
// 	}
// 	.mb-xl-30 {
// 		margin-bottom: 30px !important;
// 	}
// 	.mb-xl-35 {
// 		margin-bottom: 35px !important;
// 	}
// 	.mb-xl-40 {
// 		margin-bottom: 40px !important;
// 	}
// 	.mb-xl-45 {
// 		margin-bottom: 45px !important;
// 	}
// 	.mb-xl-50 {
// 		margin-bottom: 50px !important;
// 	}
// 	.mb-xl-55 {
// 		margin-bottom: 55px !important;
// 	}
// 	.mb-xl-60 {
// 		margin-bottom: 60px !important;
// 	}
// 	.mb-xl-65 {
// 		margin-bottom: 65px !important;
// 	}
// 	.mb-xl-70 {
// 		margin-bottom: 70px !important;
// 	}
// 	.mb-xl-75 {
// 		margin-bottom: 75px !important;
// 	}
// 	.mb-xl-80 {
// 		margin-bottom: 80px !important;
// 	}
// 	.mb-xl-85 {
// 		margin-bottom: 85px !important;
// 	}
// 	.mb-xl-90 {
// 		margin-bottom: 90px !important;
// 	}
// 	.mb-xl-95 {
// 		margin-bottom: 95px !important;
// 	}
// 	.mb-xl-100 {
// 		margin-bottom: 100px !important;
// 	}
// 	.ml-xl-0 {
// 		margin-left: 0px !important;
// 	}
// 	.ml-xl-5 {
// 		margin-left: 5px !important;
// 	}
// 	.ml-xl-10 {
// 		margin-left: 10px !important;
// 	}
// 	.ml-xl-15 {
// 		margin-left: 15px !important;
// 	}
// 	.ml-xl-20 {
// 		margin-left: 20px !important;
// 	}
// 	.ml-xl-25 {
// 		margin-left: 25px !important;
// 	}
// 	.ml-xl-30 {
// 		margin-left: 30px !important;
// 	}
// 	.ml-xl-35 {
// 		margin-left: 35px !important;
// 	}
// 	.ml-xl-40 {
// 		margin-left: 40px !important;
// 	}
// 	.ml-xl-45 {
// 		margin-left: 45px !important;
// 	}
// 	.ml-xl-50 {
// 		margin-left: 50px !important;
// 	}
// 	.ml-xl-55 {
// 		margin-left: 55px !important;
// 	}
// 	.ml-xl-60 {
// 		margin-left: 60px !important;
// 	}
// 	.ml-xl-65 {
// 		margin-left: 65px !important;
// 	}
// 	.ml-xl-70 {
// 		margin-left: 70px !important;
// 	}
// 	.ml-xl-75 {
// 		margin-left: 75px !important;
// 	}
// 	.ml-xl-80 {
// 		margin-left: 80px !important;
// 	}
// 	.ml-xl-85 {
// 		margin-left: 85px !important;
// 	}
// 	.ml-xl-90 {
// 		margin-left: 90px !important;
// 	}
// 	.ml-xl-95 {
// 		margin-left: 95px !important;
// 	}
// 	.ml-xl-100 {
// 		margin-left: 100px !important;
// 	}
// 	.mr-xl-0 {
// 		margin-right: 0px !important;
// 	}
// 	.mr-xl-5 {
// 		margin-right: 5px !important;
// 	}
// 	.mr-xl-10 {
// 		margin-right: 10px !important;
// 	}
// 	.mr-xl-15 {
// 		margin-right: 15px !important;
// 	}
// 	.mr-xl-20 {
// 		margin-right: 20px !important;
// 	}
// 	.mr-xl-25 {
// 		margin-right: 25px !important;
// 	}
// 	.mr-xl-30 {
// 		margin-right: 30px !important;
// 	}
// 	.mr-xl-35 {
// 		margin-right: 35px !important;
// 	}
// 	.mr-xl-40 {
// 		margin-right: 40px !important;
// 	}
// 	.mr-xl-45 {
// 		margin-right: 45px !important;
// 	}
// 	.mr-xl-50 {
// 		margin-right: 50px !important;
// 	}
// 	.mr-xl-55 {
// 		margin-right: 55px !important;
// 	}
// 	.mr-xl-60 {
// 		margin-right: 60px !important;
// 	}
// 	.mr-xl-65 {
// 		margin-right: 65px !important;
// 	}
// 	.mr-xl-70 {
// 		margin-right: 70px !important;
// 	}
// 	.mr-xl-75 {
// 		margin-right: 75px !important;
// 	}
// 	.mr-xl-80 {
// 		margin-right: 80px !important;
// 	}
// 	.mr-xl-85 {
// 		margin-right: 85px !important;
// 	}
// 	.mr-xl-90 {
// 		margin-right: 90px !important;
// 	}
// 	.mr-xl-95 {
// 		margin-right: 95px !important;
// 	}
// 	.mr-xl-100 {
// 		margin-right: 100px !important;
// 	}
// 	.mx-xl-0 {
// 		margin-left: 0px !important;
// 		margin-right: 0px !important;
// 	}
// 	.mx-xl-5 {
// 		margin-left: 5px !important;
// 		margin-right: 5px !important;
// 	}
// 	.mx-xl-10 {
// 		margin-left: 10px !important;
// 		margin-right: 10px !important;
// 	}
// 	.mx-xl-15 {
// 		margin-left: 15px !important;
// 		margin-right: 15px !important;
// 	}
// 	.mx-xl-20 {
// 		margin-left: 20px !important;
// 		margin-right: 20px !important;
// 	}
// 	.mx-xl-25 {
// 		margin-left: 25px !important;
// 		margin-right: 25px !important;
// 	}
// 	.mx-xl-30 {
// 		margin-left: 30px !important;
// 		margin-right: 30px !important;
// 	}
// 	.mx-xl-35 {
// 		margin-left: 35px !important;
// 		margin-right: 35px !important;
// 	}
// 	.mx-xl-40 {
// 		margin-left: 40px !important;
// 		margin-right: 40px !important;
// 	}
// 	.mx-xl-45 {
// 		margin-left: 45px !important;
// 		margin-right: 45px !important;
// 	}
// 	.mx-xl-50 {
// 		margin-left: 50px !important;
// 		margin-right: 50px !important;
// 	}
// 	.mx-xl-55 {
// 		margin-left: 55px !important;
// 		margin-right: 55px !important;
// 	}
// 	.mx-xl-60 {
// 		margin-left: 60px !important;
// 		margin-right: 60px !important;
// 	}
// 	.mx-xl-65 {
// 		margin-left: 65px !important;
// 		margin-right: 65px !important;
// 	}
// 	.mx-xl-70 {
// 		margin-left: 70px !important;
// 		margin-right: 70px !important;
// 	}
// 	.mx-xl-75 {
// 		margin-left: 75px !important;
// 		margin-right: 75px !important;
// 	}
// 	.mx-xl-80 {
// 		margin-left: 80px !important;
// 		margin-right: 80px !important;
// 	}
// 	.mx-xl-85 {
// 		margin-left: 85px !important;
// 		margin-right: 85px !important;
// 	}
// 	.mx-xl-90 {
// 		margin-left: 90px !important;
// 		margin-right: 90px !important;
// 	}
// 	.mx-xl-95 {
// 		margin-left: 95px !important;
// 		margin-right: 95px !important;
// 	}
// 	.mx-xl-100 {
// 		margin-left: 100px !important;
// 		margin-right: 100px !important;
// 	}
// 	.my-xl-0 {
// 		margin-top: 0px !important;
// 		margin-bottom: 0px !important;
// 	}
// 	.my-xl-5 {
// 		margin-top: 5px !important;
// 		margin-bottom: 5px !important;
// 	}
// 	.my-xl-10 {
// 		margin-top: 10px !important;
// 		margin-bottom: 10px !important;
// 	}
// 	.my-xl-15 {
// 		margin-top: 15px !important;
// 		margin-bottom: 15px !important;
// 	}
// 	.my-xl-20 {
// 		margin-top: 20px !important;
// 		margin-bottom: 20px !important;
// 	}
// 	.my-xl-25 {
// 		margin-top: 25px !important;
// 		margin-bottom: 25px !important;
// 	}
// 	.my-xl-30 {
// 		margin-top: 30px !important;
// 		margin-bottom: 30px !important;
// 	}
// 	.my-xl-35 {
// 		margin-top: 35px !important;
// 		margin-bottom: 35px !important;
// 	}
// 	.my-xl-40 {
// 		margin-top: 40px !important;
// 		margin-bottom: 40px !important;
// 	}
// 	.my-xl-45 {
// 		margin-top: 45px !important;
// 		margin-bottom: 45px !important;
// 	}
// 	.my-xl-50 {
// 		margin-top: 50px !important;
// 		margin-bottom: 50px !important;
// 	}
// 	.my-xl-55 {
// 		margin-top: 55px !important;
// 		margin-bottom: 55px !important;
// 	}
// 	.my-xl-60 {
// 		margin-top: 60px !important;
// 		margin-bottom: 60px !important;
// 	}
// 	.my-xl-65 {
// 		margin-top: 65px !important;
// 		margin-bottom: 65px !important;
// 	}
// 	.my-xl-70 {
// 		margin-top: 70px !important;
// 		margin-bottom: 70px !important;
// 	}
// 	.my-xl-75 {
// 		margin-top: 75px !important;
// 		margin-bottom: 75px !important;
// 	}
// 	.my-xl-80 {
// 		margin-top: 80px !important;
// 		margin-bottom: 80px !important;
// 	}
// 	.my-xl-85 {
// 		margin-top: 85px !important;
// 		margin-bottom: 85px !important;
// 	}
// 	.my-xl-90 {
// 		margin-top: 90px !important;
// 		margin-bottom: 90px !important;
// 	}
// 	.my-xl-95 {
// 		margin-top: 95px !important;
// 		margin-bottom: 95px !important;
// 	}
// 	.my-xl-100 {
// 		margin-top: 100px !important;
// 		margin-bottom: 100px !important;
// 	}
// }
