/*Text Colors*/
.text-sky {
	color: #00acf0 !important;
}
.text-primary {
	color: #00acf0 !important;
}
.text-cyan {
	color: #1ebccd !important;
}
.text-info {
	color: #1ebccd !important;
}
.text-green {
	color: #22af47 !important;
}
.text-success {
	color: #22af47 !important;
}
.text-yellow {
	color: #ffbf36 !important;
}
.text-warning {
	color: #ffbf36 !important;
}
.text-red {
	color: #f83f37 !important;
}
.text-danger {
	color: #f83f37 !important;
}
.text-blue {
	color: #0092ee !important;
	color: #0092ee !important;
}
.text-pink {
	color: #ed1b60 !important;
}
.text-purple {
	color: #ab26aa !important;
}
.text-violet {
	color: #6640b2 !important;
}
.text-indigo {
	color: #3a55b1 !important;
}
.text-teal {
	color: #009b84 !important;
}
.text-neon {
	color: #88c241 !important;
}
.text-lime {
	color: #d0d962 !important;
}
.text-sun {
	color: #fde335 !important;
}
.text-orange {
	color: #ff9528 !important;
}
.text-pumpkin {
	color: #ff6028 !important;
}
.text-brown {
	color: #7a5449 !important;
}
.text-gold {
	color: #c1993f !important;
}
.text-smoke {
	color: #5e7d8a !important;
}
.text-muted {
	color: #5e7d8a !important;
}
.text-grey {
	color: #9e9e9e !important;
}
.text-secondary {
	color: #9e9e9e !important;
}
.text-dark {
	color: #324148 !important;
}
.text-light {
	color: #848d91 !important;
}
.text-white {
	color: #fff !important;
}
.text-light-10 {
	color: #eaecec !important;
}
.text-light-15 {
	color: #e0e3e4 !important;
}
.text-light-20 {
	color: #d6d9da !important;
}
.text-light-30 {
	color: #c1c6c8 !important;
}
.text-light-40 {
	color: #adb3b6 !important;
}
.text-light-50 {
	color: #98a0a3 !important;
}
.text-light-60 {
	color: #848d91 !important;
}
.text-light-70 {
	color: #6f7a7f !important;
}
.text-light-80 {
	color: #5b676d !important;
}
.text-light-90 {
	color: #46545a !important;
}
.text-dark-20 {
	color: #2b383e !important;
}
.text-dark-40 {
	color: #273238 !important;
}
.text-dark-60 {
	color: #212a2f !important;
}
.text-dark-80 {
	color: #1a2225 !important;
}
.text-dark-100 {
	color: #0d1113 !important;
}
.text-disabled {
	color: #c1c6c8 !important;
}