.blog-right-side {
  .card {
    border-color: #eaecec;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.125);
  }
  .list-posts {
    h4 {
      font-weight: 700;
    }
    .media {
      img {
        width: 72px;
        height: 72px;
      }
      .media-body {
        .short-text {
          margin-bottom: 8px;
        }
      }
    }
  }
}
