.contact-us {
  .container-fluid {
    form {
      background-color: #ffebda;
      h2 {
        width: 70%;
        text-align: center;
        color: $secondary;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        span {
          background: #ffebda;
          padding: 0 8px;
          z-index: 5;
        }
        hr {
          position: absolute;
          width: inherit;
          z-index: 2;
        }
      }

      .form-group label {
        color: $secondary;
        font-weight: 700;
      }

      .btn {
        background-color: $secondary;
        color: $primary;
        border-color: $secondary;
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 575px) {
  .contact-us {
    .container-fluid {
      .form {
        h2 {
          span {
            width: 40%;
          }
        }
      }
    }
  }
}
